<br/>
<br/>



<div class="progress">
  <div class="progress-bar" id="#progressBar" role="progressbar" [style.width]= "width+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Page {{currentQuestionNo}} of {{questions.length}}</div>
</div>
   
   <h1>Question {{ currentQuestionNo }}</h1>
   <p>{{ currentQuestion.title }}
   </p>


 <div class="checkbox" *ngFor="let option of options">
            
              <input type="checkbox" value="{{option.id}}" (change)="onCheckboxChange(option,$event)">{{option.title}}
            
 </div>
       

        <button class="btn btn-primary" type="button" (click)="next()"><span class="icon-play-white _hover"></span><span> Next</span></button>
  
<p>{{debug3}}  
<p>{{debug4}} 